/* some resets
--------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

/* general styles
--------------- */
body {
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* core styles
--------------- */
.canvas-container {
  position: relative;
}

canvas {
  /* width: 600px; */
  border: 1px solid #119127;
}

.eraser {
  background-color: transparent;
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
